.text-updater-node input:focus {
  border: 1px solid #fff;
  border-radius: 3px;
  margin-left: 2px;
  padding: 3px 6px;
  outline: none;
  background-color: green !important;
}

.text-updater-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 69px;
}

.nodrag {
  color: #fff;
  border: none;
  outline: none;
  /* background-color: green; */
  text-align: center;
}
