* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  /* background-color: #000; */
}

#left-sidebar {
  padding-left: 150px;
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 400px;
  border-right: 1px solid #ccc;
}

.icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  gap: 20px;
}

svg {
  max-width: 30px;
  background-color: #fff;
  color: #fff !important;
}

.avatar {
}

.nav {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav:nth-child(2) {
  font-weight: bold;
}

.post {
  display: flex;
  justify-content: center;
  width: 180px;
  border-radius: 99px;
  margin: auto;
  color: #fff;
  padding: 12px;
  background-color: rgb(64, 64, 176);
}
